.user-interactivity-panel__container {
    width: 600px;
    height: 600px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 14px rgb(199, 199, 199);
}